.App {
  text-align: center;
  width:100%;
}

.btn{
  margin: 2px;
}
.divbtn{
  float: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightblue;
}

